Repository pmix/governance, pull requests merged in 2022-05, with the labels that each got.

#35 Update major release guidance
  pmix_governance.tex
Labels: Governance, Proposed, Eligible, First Vote Passed

#36 RFC: allow major text changes to ship in minor releases
  pmix_governance.tex
Labels: Governance, Proposed, Eligible, First Vote Passed, Accepted

#38 Bump version to 1.7 now that 1.6 is released
  pmix_governance.tex
Labels: Editorial
